body{
    background-color:yellowgreen
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
   height: 700px;
}
.first{
      background-color: white;
    border-radius: 25px ;
    width:300px;
  
}
.second{
    background-color: white;
  border-radius: 25px ;
  width:300px
}
.third{
    background-color: white;
  border-radius: 25px ;
  width:300px
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
hr{
    background-color:yellowgreen;
   border: 3px solid yellowgreen;
}
img{
    text-align: center;
    padding-left: 125px;
}
.price{
    display: flex;
    justify-content: space-around;
}
.order{
    text-align: center;
}

